{% extends "_base.html" %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>This is our home page.</h1>
<img class="potplant" src="{% static 'images/dfp.jpg' %}">
{% if user.is_authenticated %}
<p>Plants are currently in {{ current_stage }}. </p>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-info">
            <thead>
                <tr>
                    <th></th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Temperature</th>
                    <td>{{ current_stage.growth_stage.min_temperature }}</td>
                    <td>{{ current_stage.growth_stage.max_temperature }}</td>
                </tr>
                <tr>
                    <th>Humidity</th>
                    <td>{{ current_stage.growth_stage.min_humidity }}</td>
                    <td>{{ current_stage.growth_stage.max_humidity }}</td>
                </tr>
            </tbody>
        </table>
        <p>Rolling average temp is {{ avg_temp }}. Latest = {{ latest_temp.data }}. Updated at: {{
            latest_temp.created_at }}</p>
        <p>Rolling average humidity is {{ avg_humidity }}. Latest = {{ latest_humidity.data }}. Updated at: {{
            latest_humidity.created_at }}</p>
        <div class="containermt-5">
            <form method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        <p>Device status can go here</p>
    </div>
</div>
{% else %}
{% endif %}
{% endblock content %}