{% extends "_base.html" %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>This is our home page.</h1>
<img class="potplant" src="{% static 'images/dfp.jpg' %}">
{% if user.is_authenticated %}
<p>Plants are currently in {{ current_stage }}. </p>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-info">
            <thead>
                <tr>
                    <th></th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Temperature</th>
                    <td>{{ current_stage.growth_stage.min_temperature }}</td>
                    <td>{{ current_stage.growth_stage.max_temperature }}</td>
                </tr>
                <tr>
                    <th>Humidity</th>
                    <td>{{ current_stage.growth_stage.min_humidity }}</td>
                    <td>{{ current_stage.growth_stage.max_humidity }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-info">
            <thead>
                <tr>
                    <th></th>
                    <th>Rolling</th>
                    <th>Current</th>
                    <th>Latest Update</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Temperature</th>
                    <td>{{ avg_temp }}</td>
                    <td>{{ latest_temp.data }}</td>
                    <td>{{ latest_temp.created_at }}</td>
                </tr>
                <tr>
                    <th>Humidity</th>
                    <td>{{ avg_humidity }}</td>
                    <td>{{ latest_humidity.data }}</td>
                    <td>{{ latest_humidity.created_at }}</td>
                </tr>
            </tbody>
        </table>
        <div class="containermt-5">
            <form method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        {% for fan in fans reversed %}
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="{{ fan.name }}" id="flexSwitchCheckChecked"
                hx-post="{% url 'fans' %}" hx-target="#tmp-container" hx-vals='{"name": {{ fan.name }}}' checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">{{ fan.name }} Power</label>
        </div>
        {% endfor %}
        <div class="col" id="tmp-container">
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endblock content %}